:root {
    --header-color: #e9eef6;
    --shadow-color: #a5a5a5;
    --card-color: #f6f7f8;
}
.header-container {
    height: 25vh;
    width: 100%;
    background-color: var(--header-color);
    padding-top: 3rem;
}
.btn-task {
    margin-top: 0.5rem;
    font-size: 20px;
}
.task-container {
    height: 50rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--card-color);
    padding: 3rem;
}
